h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
    text-transform: capitalize;
    text-shadow: 2px 2px rgb(0, 38, 255);
}

p{
    font-weight: 600;
    font-size: 3em;
}

ul{
    background-color: rgb(26, 181, 243);
}

.text{
    color: rgb(0, 0, 0);
}

body{
    font-size: 16px;
    text-decoration: underline darkred dotted 3px;
}

#yellow {
    background-color: gold;
}

#red {
    background-color: rgb(196, 6, 6);
}

#brown {
    background-color: rgb(138, 57, 26);
}
